@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #192a32;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

:root {
	--d: 2500ms;
	--angle: 90deg;
	--c1: rgba(168, 239, 255, 1);
	--c2: rgba(168, 239, 255, 0.1);
}

.login {
	border: 0.35rem solid;
	border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
	animation: borderRotate var(--d) linear infinite forwards;
}

.animation-circle-cross {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
	animation: animation-circle-cross 4s ease-in forwards infinite;
}
.animation-circle-cross:nth-child(2) {
	animation-delay: 0.5s;
  left: 25vw;
  top: 40vh;
}
.animation-circle-cross:nth-child(3) {
	animation-delay: 1s;
  left: 75vw;
  top: 50vh;
}
.animation-circle-cross:nth-child(4) {
	animation-delay: 1.5s;
  left: 90vw;
  top: 10vh;
}
.animation-circle-cross:nth-child(5) {
	animation-delay: 2s;
  left: 10vw;
  top: 85vh;
}
.animation-circle-cross:nth-child(6) {
	animation-delay: 2.5s;
  left: 50vw;
  top: 10vh;
}
.animation-circle-cross:nth-child(7) {
	animation-delay: 3s;
  left: 10vw;
  top: 10vh;
}
.animation-circle-cross:nth-child(8) {
	animation-delay: 3.5s;
  left: 90vw;
  top: 85vh;
}


@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
}

@keyframes animation-circle-cross {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(15) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}